/* Estilização do título principal */
.titulo-cursivo {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  z-index: 2;
  text-shadow: 2px 2px 5px red;
}

/* Contador de tempo */
.contagem-container {
  color: #262424;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-top: -20px;
  z-index: 2;
}

.contagem-titulo {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px red;
}

.contagem-texto {
  font-size: 1.8rem;
  line-height: 1.6;
  text-shadow: 1px 1px 3px red;
}

.carousel-caption h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 4px red;
  padding: 8px 16px;
  border-radius: 10px;
  display: inline-block;
}

.mensagem-final {
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  padding: 0 20px;
  max-width: 700px;
  line-height: 1.8;
  text-shadow: 1px 1px 2px red;
}

/* Estilo para a mensagem acima do player */
.spotify-frame h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  line-height: 1.6;
  text-shadow: 1px 1px 3px red;
  margin-bottom: 15px; /* Espaço entre a mensagem e o player */
}

/* Centralizar o iframe do Spotify */
.spotify-frame {
  display: flex;
  flex-direction: column; /* Para a mensagem ficar acima do player */
  align-items: center;
  margin-top: 30px;
}

.spotify-frame iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Opcional, se quiser arredondar as bordas do iframe */
}
